<div class="repo p-2">
  <a
    class="repo-card js-github-user-card"
    href="https://github.com/{{ include.username }}"
    rel="external nofollow noopener"
    target="_blank"
    data-github-user="{{ include.username }}"
    style="--repo-card-description-lines: 3;"
  >
    <div class="repo-card__header">
      <img class="repo-card__avatar" src="https://github.com/{{ include.username }}.png?size=96" alt="{{ include.username }}">
      <div class="repo-card__identity">
        <strong class="repo-card__title" data-field="title">{{ include.username }}</strong>
        <span class="repo-card__subtitle" data-field="subtitle">@{{ include.username }}</span>
      </div>
    </div>
    <p class="repo-card__description">Loading profile details...</p>
    <div class="repo-card__stats">
      <span class="repo-stat">
        <span class="repo-stat__label">Followers</span>
        <span class="repo-stat__value" data-field="followers">--</span>
      </span>
      <span class="repo-stat">
        <span class="repo-stat__label">Following</span>
        <span class="repo-stat__value" data-field="following">--</span>
      </span>
      <span class="repo-stat">
        <span class="repo-stat__label">Repos</span>
        <span class="repo-stat__value" data-field="repos">--</span>
      </span>
    </div>
  </a>
</div>
